// * Header

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &__top {
    @include flex-d-align(flex, center);
    padding: 1rem 0;
    .header-logo {
      width: 6rem;
    }
    .hamburger-menu .open,
    .hamburger-menu .close {
      font-size: 4rem;
      margin-left: 1.4rem;
      color: $light-clr;
      cursor: pointer;
       display: none;
    }

    &-login {
      flex: 1;
      @include flex-d-justify(flex, flex-end);
      span {
        display: none;
      }
    }
  }

  &__nav {
    &-menu {
      @include flex-d(flex, space-between, center);
      .nav__list {
        display: flex;
        .nav__item {
          line-height: 6rem;
          padding: 1rem;
          position: relative;
          transition: $transition;
          .dropdown {
            position: absolute;
            top: 11rem;
            left: 0;
            width: 180%;
            transition: $transition;
            opacity: 0;
            visibility: hidden;
            background-color: lighten($secondary-clr, 4%);
            .nav__item {
              line-height: 2.4rem;
            }
          }
          &:hover {
            background-color: $primary-clr;
            cursor: pointer;
            & .dropdown {
              opacity: 1;
              visibility: visible;
              top: 8rem;
            }
          }
        }
      }

      .nav__link:link,
      .nav-link:visited {
        display: inline-block;
        font-size: calc(1rem + 0.5vw);
        font-weight: 500;
        letter-spacing: 0.1rem;
      }
      & i {
        color: $light-clr;
      }
    }

    &-search {
      .search__form {
        @include flex-d-align(flex, center);
        gap: 1.2rem;
      }
      input[type='search'],
      button[type='submit'] {
        border: none;
        outline: none;
        background-color: transparent;
        color: $light-clr;
      }
      input[type='search'] {
        padding: 1rem 1.2rem;
        border-bottom: 0.1rem solid transparent;
        border-radius: 1.6rem;
        text-indent: 1rem;
      }
      button[type='submit'] {
        font-size: 2rem;
        cursor: pointer;
      }
    }
  }

  @include media(medium) {
    .header__top {
      &-login {
        a:not(span) {
          color: $light-clr;
          font-size: 0;
          padding: 0.4rem 0.8rem;
          border-radius: 0;
        }
        span {
          display: flex;
          font-size: 2.6rem;
        }
        .btn {
          background-color: $light-clr;
          color: $dark-text-clr;
          transition: $transition;

          &:hover,
          &:active {
            background-color: $primary-clr;
            color: $light-clr;
          }
          &-primary {
            background-color: $primary-clr;
            color: $light-clr;
            &:hover {
              background-color: $light-clr;
              color: $dark-text-clr;
            }
          }
        }
      }
    }
    .hamburger-menu .open {
      display: inline-block ;
     }

    .header__nav {
      position: absolute;
      top: 100%;
      right: -30rem;
      width: 30rem;
      height: 100vh;
      background-color: $secondary-clr;
      transition: $transition;
      &-menu {
        .nav__list {
          width: 100%;
          @include flex-d(flex, center, flex-start);
          flex-direction: column;
          margin-top: 3rem;
          margin-left: 3rem;
          .nav__item {
            line-height: 2.6rem;
            margin-bottom: 0.5rem;
            .dropdown {
              left: 100%;
            }
            &:hover {
              & .dropdown {
                top: 2rem;
                background-color: $primary-clr;
              }
            }
          }
          .nav__link:link,
          .nav-link:visited {
            font-size: $fs-small;
          }
        }
      }
      &-search {
        position: absolute;
        top: 60%;
        right: 20%;
        .search__form {
          @include flex-d-align(flex, center);
          gap: 1.2rem;
        }
      }
    }
  }
}
